@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
*{
    font-family: 'Poppins',sans-serif ;
    color: antiquewhite;
}
body{
    margin: 0px;
    background-color: #2F3038 ;
     overflow: hidden; 
}
h2{
    font-weight: 300;
    font-size: 50px;
}
header {
    display: flex;
    justify-content: space-between;
    height: 100px;
    margin: 10px 50px;
}

header img{
     height: 75px; 
}
header div:first-child {
    display: flex;
    gap: 15px;
    font-weight: 400;
}
ul{
    display: flex;
    gap:50px;


}
li { 
    list-style: none;

}
main{
    display: flex;
    justify-content: space-between;
    height: calc(100vh - 100px);
    margin: 0px 200px;

}

main img{
    height: 100%;
}
main p:last-child{
    background-color: blueviolet;
    border-radius: 5px;
   max-width: fit-content;
   padding: 25px;
   font-size: 20px;

   
}
main div p{
    font-size: 30px;
    font-weight: 200;
}
.bulle{
    height: 200px;
    width: 200px;
    border-radius: 100%;
  
    background-color: rgb(41,56,75) ;
    position: fixed;
    bottom: 0px;
    right: 400px;
    z-index: -1;
}
.bulle2{
    height: 450px;
    width: 450px;
    border-radius: 100%;
    background-color:rgb(41,56,75);
    position: fixed;
    z-index:-1;
    bottom: 200px;
    right: 500px;
}
.bulle3{
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background-color:rgb(41,56,75);
    position: fixed;
    z-index:-1;
    bottom: 100px;
    right: 0px;

}
.bulle4{
    height: 150px;
    width: 150px;
    border-radius: 100%;
    background-color:rgb(41,56,75);
    position: fixed;
    z-index:-1;
    bottom:700px;
    right: 50px;

}
